body{
    margin: 0px; 
}
.container{
    position: relative;
    overflow: hidden;
}

.log{
    float: right;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: steelblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.nav{
    position: absolute;
    top: 5px;
    left: 1220px;
    z-index: 1;
}

.nav:hover{
    opacity: 0.8;
}

.upper{
    position: relative;
    transform: translate(-42% , -60%);
    opacity: 0.8;
}

.overlay {
    position:absolute;
    top:30px;
    left:435px;
    z-index:1;
    font-size: 50px;
    color: white;
}
.overlay p{
    text-align: center;
    font-size: 20px;
    margin-top: -30px;
}
.overlay button{
    position: absolute;
    background-color: transparent;
    align-content: center;
    left:220px;
    border: 2px solid grey;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    outline: none;    
}
.overlay button:hover{
    background-color: grey;
    cursor: pointer;
}

body{
    background-image: url("fff.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 2000px;
}

.lower{
    position: relative;
}

.card1{
    left: 250px;
}
.card2{
    left: 780px;
}

.card4{
    left: 250px;
    margin-bottom: 15px;
}
.card3{
    left: 780px;
    margin-bottom: 15px;
}
.card5{
    top: 900px;
    left: 500px;
    margin-bottom: 15px;
}

.cardb{
    top:450px;
}
.card{
    position: absolute;
    width:25%;
    border: 1px solid black;
    margin-top: -43%;
    background-color:#435559;
}
.card h2{
    text-align: center;
}
.card p{
    text-align: center; 
    color:grey; 
}
.butt{
    outline: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px 8px 5px;
    margin-left: 17px;
    border: none;
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
}

.butt:hover{
    opacity: 0.8;
}
